/*to declare a variable*/:root{
    --colorPromary: #0ff;
    --fontPrimary:  20px;
}

body{
    background-color: aqua;
    background-image: url(vecteezy_ai-generated-empty-wooden-table-on-the-natural-background_40890255.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    border-style: groove;
}

/*Universal Selector*/
*{
    color: aqua;
    font: 70;
}

/* ID selector */
#my-id{
    border-style: double;
    color: goldenrod;
    font-weight:900;
}
/*Class seclector*/
.my-text-style{
    border-style: inset;
    color: orange;
    font: 70;
}
/*Group selection
h1,h2,p{
    border-style: ridge;
    color: yellow;
    font: 70;
}
    */
/*.my-div{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50px 10px 50px 10px;

}*/
.my-div{
    display: run-in;

}
p{
    /*height: 100px;
    width: 100px;*/
    font-size: 20px;
    font-weight: 900;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 100%;
    margin-left: 80px;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
}

img{
    float: inherit;
    height: 200 ;
    filter: blur(2px);
}
.submitbtn{
    background-color: red !important;
    border-radius: 6px;
    color: white;
    padding: 10px;
}
.submitbtn{
    background-color: black;
    border-radius: 6px;
    color: white;
    padding: 10px;
}
.submitbtn:hover{
    background-color: green !important;
}
.my-position{
    position: fixed;
    color: red;
}

div{
    width: 150px;
    border: 1px solid red;
}
div.a{
    word-wrap: normal;
}

div.b{
    word-wrap: break-word;
}